<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de alta de producto</title>
</head>
<body>
    <h1>Cargar producto</h1>
    <form action="/movies/create" method="POST">
        Titulo:
        <input type="text" name="title">
        <br>
        Rating:
        <input type="text" name="rating">
        <br>
        Premios:
        <input type="text" name="awards">
        <br>
        Fecha de estreno:
        <input type="text" name="release_date">
        <br>
        Duración:
        <input type="text" name="length">
        <br>
        Genero:
        <input type="text" name="genre_id">
        <br>
        <button type="submit">GUARDAR PELICULA</button>
    </form>
</body>
</html>